/* 
    Praktikum DBWT. Autoren:
    Nguyen, Duc Tam, 3233521
    Tran, Anh Minh, 3246773
 */
* {
    font-family: Arial;
}

#etabelle {
    border: thin solid coral;
    table-layout: auto;
    width: 100%;
    /* margin: 0px 30px 30px 30px */
    grid-area: 3 / 2 / 3 / 2;
}

/* set color for 1st & 3th row */
#etabelle tr:nth-child(2), #etabelle th {
    background-color: peachpuff;
}

/* margin looks better in this case */
#etabelle li {
    /* padding: 5px 0px 5px 0px; */
    margin: 10px 0px 10px 0px;
}

/* Changing link behaviors */
a {
    font-weight: bold;
    color: lightcoral;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

/* Clear dotted line under abbr */
abbr {
    text-decoration: none;
}

#elektro {
    grid-area: 1 / 1 / 1 / 3;
}

#elektro + p {
    grid-area: 2 / 1 / 2 / 3;
}

.center {
    grid-area: 4 / 2 / 4 / 2;
    text-align: center;
}

/* making a 4 row x 3 col grid, with the table placed at 3th row 2nd col, every other rows got its cols merged */
.elektro.zeile {
    display: grid;
    grid-template-columns: 60px auto 60px;
    width : 40%;
    /* border: thin none coral; */
    border-bottom: thin solid coral;

}

/* set width to match with body */
footer {
    width: 40%;
}

/* remove bullets, allign to right */
footer ul {
    list-style-type: none;
    text-align: right;
}

/* added padding, vertical line (right border) after each li, set to show up horizontally instead of vertically */
footer ul li {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-right: thin solid coral;
}

/* remove last vertical line */
footer ul li:last-child {
    border: none;
}