body {
    margin: 1% 8% 0px 8%;
    font-family: Arial;
}

header {
    display: grid;
    grid-template-columns: 10% 70% auto;
    gap: 2%;
    margin: 1% 0px 1% 0%;
}

header li {
    display: inline-block;
    padding: 0px 30px 0px 10px;
}

header > * {
    border: thin solid black;
}

#div_horizontal_grid_3 {
    display: grid;
    grid-template-columns: 10% 70% auto;
    gap: 2%;
}

#div_vertical_grid {
    display: grid;
    grid-area: 1 / 2 / 1 / 2;
}

#img_banner {
    /* grid-area: 1 / 1 / 1 / 1; */
    height: 150px;
    border: thin solid black;
}

#textbox {
    border: thin solid black;
    padding: 15px 5px 15px 5px;
}

h2 {
    padding-left: 5px
}

/* A bunch of spaghetti to color the table inner grid */
#tbl_menu {
    border-collapse: collapse;
    border: thin solid black;
}

#tbl_menu tr td {
    border-top: thin solid lightgrey;
}

#tbl_menu th:first-child, #tbl_menu tr td:first-child {
    border-right: thin solid lightgrey;
}

#tbl_menu th:last-child, #tbl_menu tr td:last-child {
    border-left: thin solid lightgrey;
}

#tbl_menu th {
    border-bottom: thin solid black;
}

#tbl_menu tr:last-child td {
    border-top: thin solid black;
}

#div_payment {
    height: 120px;
    border: thin solid black;
}

#div_mid_list li {
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width : 33%;
    counter-increment: custom_counter;
}

#div_mid_list li::before {
    content: counter(custom_counter, lower-alpha) " ";
}

#div_mid_list li:first-child {
    counter-reset: custom_counter 23;
}

#div_vorname *, #div_email *, #div_language * {
    display: block;
}

#fs_newsletter div {
    display: inline-block;
    padding-left: 2%;
}

#div_vertical_grid > div:last-of-type, #div_vertical_grid > h2:last-child {
    margin-left: auto;
    margin-right: auto;
}

footer {
    border-top: thin solid black;
}

footer ul {
    text-align: center;
    padding-right: 10%;
}

footer ul li {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-right: thin solid lightgrey;
}

footer ul li:last-child {
    border: none;
    padding-right: 0px;
}